<mat-stepper #stepper>
  <mat-step [stepControl]="stepOne.form">
    <ng-template matStepLabel>Fill out your name</ng-template>
    <app-first-step #stepOne></app-first-step>
  </mat-step>

  <mat-step >
    <ng-template matStepLabel>Fill out your address</ng-template>
    <app-second-step #stepTwo></app-second-step>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <app-last-step [stepper]="stepper"></app-last-step>
  </mat-step>

  <mat-step> </mat-step>

  <mat-step> </mat-step>
</mat-stepper>
