<mat-stepper #stepper>
  <mat-step
    [stepControl]="firstFormGroup"
    errorMessage="Name is required."
    
  >
    <form [formGroup]="firstFormGroup" class="oneStep">
      <ng-template matStepLabel>Fill out your name</ng-template>

      <mat-form-field class="dropTasjil">
        <mat-label> Type d'immatriculation سلسلة التسجيل </mat-label>
        <mat-select>
          @for (tasjil of tasjils; track tasjil) {
          <mat-option [value]="tasjil.value">{{ tasjil.value }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <div>
        <div>
          <mat-form-field>
            <mat-label>Serie</mat-label>
            <input
              matInput
              placeholder="Serie"
              formControlName="firstCtrl"
              required
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Confirm Serie</mat-label>
            <input
              matInput
              placeholder="Serie"
              formControlName="confirmCtrl"
              required
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="dropTasjil">
            <mat-label
              >Tapez les 5 derniers caractères du N° de châssis:</mat-label
            >
            <input matInput type="password" placeholder="" />
          </mat-form-field>
        </div>
        <div
          *ngIf="
            firstFormGroup.controls.firstCtrl.value !==
            firstFormGroup.controls.confirmCtrl.value
          "
        >
          <p>The names you entered do not match. Please try again.</p>
        </div>
      </div>

      <div>
        <p>Go to a different step to see the error state</p>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input
          matInput
          placeholder="Ex. 1 Main St, New York, NY"
          formControlName="secondCtrl"
          required
        />
      </mat-form-field>
      <div>
        <p>Go to a different step to see the error state</p>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
