<mat-sidenav-container class="sidenav-container">
  <!-- if isHandset is true ,we set the role value as dialogue
    the role attribute is stricktly for accessibilty -->
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="" (click)="drawer.close()">Home</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <!-- need this only on small devices
            that is why we use ngif -->
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button routerLink="/login" mat-button>Login</button>
      <span class="fill-space"></span>
      <div *ngIf="!(isHandset$ | async)">
        <a mat-button routerLink="/">Acceil</a>
      </div>
      <!-- DROPDOWN MENU -->

      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <a
          mat-menu-item
          href="https://www.attt.com.tn/DEV_WEB/prendreunrendezvous.php?code_menu=73&code_p=4"
        >
          <span>Old version</span>
        </a>
      </mat-menu>
    </mat-toolbar>
    <h1>Bienvenue sur l'espace de prise de RDV pour la Visite Technique.</h1>
    <h1>.مرحبا بكم في فضاء الفحص الفنّي حسب الموعد</h1>
    <div class="fixed">
      <app-all-steps></app-all-steps>
      <app-detail></app-detail>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
