.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
  background: inherit;
}

.dropTasjil {
  width: 400px;
}

.oneStep {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
